<%- include("../partials/head") %>
	<cover active="0"></cover>
	<accent></accent>
	<content></content>
	<menu>
		<img src="/static/logos/scuffbox.png">
		<options>
			<p selected="1" id="gfp">GOOD FEELING POLITICS<span>keyboard_return</span></p>
			<p selected="0" id="settings">SETTINGS<span>keyboard_return</span></p>
			<p selected="0" id="howto">HOW TO<span>keyboard_return</span></p>
		</options>
	</menu>
	<%- include("../scripts/landing") %>
	<%- include("../styles/landing") %>
<%- include("../partials/feet") %>